body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#hero {
  background-color: #f5fcff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.hero-content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;

}
.hero-greeting {
  font-size: 20px;
  color: #282938;
  margin-bottom: 0;

}
.hero-title {
  font-size: 40px;
  margin: 10px 0;
  color: #5e3bee;
  line-height: normal;

}
.hero-description {
  font-size: 16px;
  margin: 15px 0;
  line-height: 1.4;
  color: #282938;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: #5e3bee;
  border:1px solid #5e3bee;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s;
  margin-bottom: 20px;
}
.hero-button:hover {
  color: #5e3bee;
  background-color: white;
}

.hero-image img {
  max-width: 400px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.hero-image img:hover {
  transform: scale(1.05);
}
@media (max-width: 700px) {
  .hero-image {
      display: none;
  }
}
@media (max-width: 1024px) {
  .hero-image img {
    max-width: 330px;
    
  }
  .hero-title {
    font-size: 30px;
  }
}